# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Daniel Chicas\Desktop\Primer Semestre 2021\Estructuras de datos\201807079_TareasEDD\Tarea4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
